<div class="section" id="experience">
   <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Work Experience</div>
      <div class="colorlib-narrow-content">

         <div class="row">
            <div class="col-md-12">
               <div class="timeline-centered">
                  <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                     <div class="timeline-entry-inner">

                        <div class="timeline-icon color-1">
                           <i class="icon-pen2"></i>
                        </div>

                        <div class="timeline-label">
                           <h2>Web Developer <span>March, 2019</span></h2>
                           <h4>T & T INVESTMENT DEVELOPMENTAL AND
                              TRADING CO.,LTD</h4>
                           <p>As a web developer I've been given working on M</p>
                           <ul>
                              <li>Server development.</li>
                              <li>Application development.</li>
                              <li>Web Development.</li>
                           </ul>

                        </div>
                     </div>
                  </article>


                  <!-- <article class="timeline-entry animate-box" data-animate-effect="fadeInRight">
                     <div class="timeline-entry-inner">
                        <div class="timeline-icon color-2">
                           <i class="icon-pen2"></i>
                        </div>
                        <div class="timeline-label">
                           <h2>Intern <span>May, 2018 - August,2018</span></h2>
                           <h4> Intern at Inno Tracks</h4>
                           <p>Completed Internship on Android . Worked as an Intern to develop mobile application using
                              android Studio. Technologies and Language used:
                           </p>
                           <ul>
                              <li>Android</li>
                              <li>Firebase</li>
                              <li>SqlLite</li>
                              <li>Java</li>
                              <li>Xml</li>
                           </ul>

                        </div>
                     </div>
                  </article> -->


               </div>


            </div>
         </div>
      </div>
   </div>
</div>