<div class="section" id="projects">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Projects</div>

    <div class="row">


      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="assets/images/projects1.PNG" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Personal Portfolio Using Angular8</h4>
              <h5 class="card-text"><b>Technology :</b> Angular8,Bootstrap3 </h5>
              <h5 class="card-text"><a target="blank__" href="http://tuantkz.me">View my Live Demo</a></h5>

              <a href="" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
              <a href="" class="btn btn-primary stretched-link">GithubLink</a>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="assets/images/projects2.PNG" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Private Chat App</h4>
              <h5 class="card-text"><b>Technology :</b> Angular 8, Nodejs, MongoDb </h5>

              <h5 class="card-text"><a href="http://viewtakens.media/">View my Live Demo</a></h5>

              <a href="" class="btn btn-primary  stretched-link ml-2 mr-5 ">See Project</a>
              <a href="" class="btn btn-primary stretched-link">GithubLink</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="assets/images/projects3.PNG" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">API Server AppBooster Application</h4>
              <h5 class="card-text"><b>Technology :</b> Nodejs, MongoDb </h5>
              <h5 class="card-text"><a target="blank__"
                  href="https://play.google.com/store/apps/details?id=com.abs.appbooster">View my Live Demo</a></h5>
              <a href="https://play.google.com/store/apps/details?id=com.abs.appbooster"
                class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
              <a href="" class="btn btn-primary stretched-link">GithubLink</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="assets/images/projects4.PNG" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">API Server Sub4Sub Application</h4>
              <h5 class="card-text"><b>Technology :</b> Nodejs, MongoDb </h5>
              <h5 class="card-text"><a target="blank__"
                  href="https://play.google.com/store/apps/details?id=com.abs.subforsub">View my Live Demo</a></h5>
              <a href="https://play.google.com/store/apps/details?id=com.abs.subforsub"
                class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
              <a href="" class="btn btn-primary stretched-link">GithubLink</a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="assets/images/projects5.PNG" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Business Advertiser Website</h4>
              <h5 class="card-text"><b>Technology :</b> Angular 8, Nodejs, MongoDb</h5>
              <h5 class="card-text"><a href="https://business.tolotulu.com/">
                  View Demo</a></h5>
              <a href="https://business.tolotulu.com/" target="blank__"
                class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
              <a href=""
                class="btn btn-primary stretched-link">GithubLink</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>